<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/static/menu.css">
</head>
<body>
    <h1 id="title">Evan's casino</h1>
    <div id="games">
        <button id="blackjack">Blackjack</button>
        <button id="poker">Poker</button>
        <button id="mines">Mines</button>
    </div>

    <!-- I disconnected the Javascript file -->
    <script></script>
</body>
</html>